@import '__variables';
@import '__default';
%transition{
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
%btn{
	font-size: 19px;
	letter-spacing: 1px;
	border-radius: 30px;
	padding: 6px 25px;
	@extend %transition;
}
@mixin shadow($X, $Y, $blur){
	-webkit-box-shadow: $X $Y $blur #0000002b;
	box-shadow: $X $Y $blur #0000002b;
}
@mixin radius($value){
	border-radius: $value;
}

header{
	background-color: $bgColor;

	.navbar-brand{

		img{
			width: 200px;
		}
	}

	.navbar-light{

		.navbar-nav{

			li{
				.nav-link{

					color: $primaryColor;
					@extend %btn;
					

					&:hover{
						background-color: $secondaryColor;
						color: #fff;
					}
				}
			 &:last-child{

			 	.nav-link{
			 		background-color: $secondaryColor;
					color: #fff;
			 	}
			 }
			}

	}
  }

  h4{
  	color: red;
  	font-size: 20px;
  }
  h1{
  	color: $primaryColor;
  	font-size: 70px;
  	font-weight: 600;
  	line-height: 1.1;
  	span{
  		color: $secondaryColor;
  	}
  }
  p{
  	color: $primaryColor;
  	font-size: 18px;
    line-height: 1.8;
    opacity: 1.7;
  }
}
.btn-custom{
	background-color: $secondaryColor;
	color: #fff;
	@extend %btn;
	border: 2px solid $secondaryColor;

	&:hover{

				background-color: transparent;
				color: $secondaryColor;
			}
}

.books-section{
	padding: 40px 0;
	.book{
		background-color: $bgColor;
		text-align: center;
		padding: 35px 20px;
		border-radius: 10px;
		@extend %transition;

		&:hover{
			background-color: #fff;
			@include shadow(0, 20px, 40px);
		}
		img{
			height: 80px;
		}
		h2{
			font-size: 26px;
			font-weight: 700;
			margin: 10px 0 0;
		}
		p{
			color: $primaryColor;
		  	font-size: 18px;
		    line-height: 1.8;
		    opacity: 1.7;
		    margin-bottom: 0;
		}
	}
}
.heading{
	text-align: center;
	padding: 50px 0;
	h1{
		font-size: 45px;
		font-weight: 900;
		letter-spacing: 1px;
	}
}
.courses-section{
	.course{
		@include shadow(0, 20px, 40px);
		@include radius (10px);
		border: 0;
		.card-body{
			img{

			}

			.card-title{

				font-size: 26px;
				margin: 10px 0;
			}

			.card-text{

					color: $primaryColor;
				  	font-size: 18px;
				    line-height: 1.8;
				    opacity: 1.7;
				    margin-bottom: 10px;
			}

			.nav{
				margin-top: 10px;
				align-items: center;
				li{
					img{
						width: 20px;
					}
					span{
						font-size: 14px;
						font-weight: 500;
					}
				}
			}


		}
	}
}

.testimonial-section{
	padding: 50px 0;
	img{}
	p{
		color: $primaryColor;
	  	font-size: 18px;
	    opacity: 1.7;
	}
}
footer{
	background-color: #282531;
	color: #fff;
	padding: 50px 0 0;

	p{
		color: #fff;
	  	font-size: 18px;
	    opacity: 0.7;
	}
	h3{}
	ul{
		li{
			a{
				font-size: 16px;
				text-decoration: none;
				color: #fff;
				display: block;
				padding: 3px 0;
				@extend %transition;

				&:hover{
					opacity: 0.8 !important;
					color: #fff;
				}
			}
		}
	}

.copyright{

			text-align: center;
			text-transform: uppercase;
			padding: 40px 40px 20px;
		p{
			color: #fff;
	  		font-size: 18px;
	    	margin-bottom: 0;
			a{
				color: $secondaryColor;
				text-decoration: none;
				font-weight: 800;
			}
		}

	}
}

@media(max-width: 1199px){

	header h1 {

    font-size: 55px;}

    .books-section .book h2 {
    font-size: 22px;}

    .books-section .book p {
    font-size: 16px;}

    header .navbar-light .navbar-nav li .nav-link, .btn-custom {
    font-size: 15px;
    padding: 4px 20px;
	}
}


@media(max-width: 991px){

	.navbar-nav {
    flex-direction: row;
    justify-content: center;
	}

	header h1 {
    font-size: 40px;
	}

	header p {
    font-size: 16px;
	}

	.books-section .book img {
    height: 60px;
	}

	.books-section .book h2 {
    font-size: 16px;
	}

	.books-section .book p {
    font-size: 15px;
	}

	.course .card-body{
		padding: 10px;
	}

	.courses-section .course .card-body .card-title {
    font-size: 18px;
    
}

}


@media(max-width: 767px){

	header .navbar-light .navbar-nav li .nav-link, .btn-custom {
    font-size: 16px;
	
	}

header .col-md img{

		max-width: 350px;
		margin-top: 30px;
	}

header .row{

		text-align: center;
	}

.book{
	margin-bottom: 30px;
}
.course{
	margin-bottom: 30px;
}

.testimonial-section p {
    
    font-size: 15px;
}
}


@media(max-width: 575px){

	.navbar-nav {
    flex-direction: column;
    text-align: center;
	}

	.courses-section .course .card-body .card-title {
    font-size: 26px;
    
}

.testimonial-section p{
	text-align: center;
	margin-top: 30px;
}

footer{
	text-align: center;

	h3{
		font-size: 20px;
	}
}
footer ul li a {
	font-size: 14px;
}

}


